.App {
  background-image: url("./components/images/snap.jpg");
  background-size: "flex";
  height: 300vh;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 20px;
  background-repeat: no-repeat;
}

.btn{
    width: 80px;
    height: 30px;
    background-color: #FF8E8E;
    color: black;
    font-size: 5px;
    border: whitesmoke;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  
  .link {
   font-size: 10px;
    font-weight: 300;
    text-align: left;
    margin: 50px;
  }

  .a {
  color: #FF8E8E;
  }

  .form-group {
    display: flex;
  }

  .form-group-form-check {
width: 10px;
border-radius: 5px;
padding: 5rem;
  }

  .form-group-form-check-mb-3 {
    min-height: auto;
  }

  .form-control {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 10px;
    border: 2px solid black;
    justify-content: space-around;
  }

  .form-label {
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    justify-content: space-around;
  }

  .form-check-input {
    font-size: 20px;
    padding: 15px 10px;
    width: 100%;
    
  }

  .form-check-label {
    font-size: 20px;
    margin: 5px;
  }

  .signup {
    display: block;
    position: relative;
   margin-top: -50px;
   text-align: center;
  }

  .welcome {
    font-size: 10px;
    font-weight: 300;
    text-align: left;
  }
